.header-area {
  position: relative;
}
.header-padding-2 .container-fluid {
  padding: 0 70px;
}

.sticky-bar {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;

  width: 100%;

  border-bottom: 0 solid #4a90e2;
  background-color: #fff;
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.06);
}

.logo {
  margin-top: 0;
}

.main-menu nav ul {
  display: block;
  margin-top: -5px;
  text-align: center;
}

.main-menu nav ul li {
  position: relative;
  display: inline-block;
  padding: 0 15px;
}
.main-menu nav ul li .link {
    font-size: 15px;
    font-weight: 500;
    line-height: 94px;
    display: inline-block;
    letter-spacing: .8px;
    color: #555252;
    text-decoration: none;
}
.main-menu nav ul li .link:hover {
    color: #a749ff;
}

/* -----------------------------------------xl----------------------------- */

@media only screen and (min-width: 1200px) and (max-width: 1365px) {
  .header-padding-2 .container-fluid {
    padding: 0 15px;
  }
}

/* -----------------------------------------lg----------------------------- */

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .header-padding-2 .container-fluid {
    padding: 0 30px;
  }
}
/* -----------------------------------------md----------------------------- */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .header-padding-2 .container-fluid {
    padding: 0 40px;
  }
  .header-res-padding {
    padding: 20px 0 15px;
  }
}

/* -----------------------------------------xs----------------------------- */

@media only screen and (max-width: 767px) {
  .header-padding-2 .container-fluid {
    padding: 0 15px;
  }
  .header-res-padding {
    padding: 20px 0 15px;
  }
}
/* -----------------------------------------sm----------------------------- */

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .header-padding-2 .container-fluid {
    padding: 0 15px;
  }
}
/* -----------------------------------------xss----------------------------- */

@media only screen and (min-width: 320px) and (max-width: 479px) {
  .header-padding-2 .container-fluid {
    padding: 0 15px;
  }
}
